{
    "printWidth": 180,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 2,
    "semi": false,
    "bracketSpacing": false,
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "extends": ["plugin:prettier/recommended"]
  }